<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Кнопочки</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/buttons.css') }}">
</head>
<body>
    <div id="main">
        <div id="title">
            <p>На день рождения принято дарить подарки, но чем старше становишься, тем больше понимаешь, что твой день рождения может обойтись тебе даже дороже (по времени, средствам и потраченной энергии), чем твоим друзьям и близким.</p>
            <br>
            <p>Здесь тоже всё будет не так просто: одна из этих кнопок продвинет тебя дальше, а остальные скрывают за собой либо желания, которые ты мне проиграешь, если нажмешь на данную кнопку, либо просто приколы.</p>
        </div>
        <div id="buttons_container">

        </div>
    </div>
    <script src="{{ url_for('static', filename='js/buttons.js') }}"></script>
</body>
</html>