<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ПОЗДРАВЛЯЮ!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cong.css') }}">
</head>
<body>
    <div id="main">
        <div id="text">
            <h1>Поздравляю с днем рождения! ❤️</h1><br><br>
            <div id="message">
                <p>Уже скоро будет год с момента, как мы впервые встретились, но кажется, что мы знакомы почти всю жизнь.</p>
                <br>
                <p>Мне очень грустно, что я не нахожусь рядом тобой в этот особенный день, но я не мог ограничиться только текстом и словами сегодня, поэтому постарался сделать для тебя что-то, хоть и не материальное, но, как мне кажется, довольно необычное и, надеюсь, запоминающееся. Хоть, я и ненавижу дарить подарки, этот точно стал исключением. Я получил искреннее удовольствие от процесса подготовки, я прям с нетерпением ждал момент, когда я уже смогу тебе все это показать 😋</p>
                <br>
                <p>Хоть ты так и не считаешь, но знай - ты максимально крутой человек: таких красивых, чувственных, умных и одновременно целеустремленных людей как ты, я в жизни не встречал, и вряд ли встречу. И я очень рад, что мне довелось начать с тобой общаться, и я правда очень дорожу нашим общением.</p>
                <br>
                <p>Поэтому, желаю тебе в свои 21 💃 не терять все эти качества, продолжать идти к своим целям, совершенствовать все умения, которые у тебя сейчас есть, и приобретать новые. Может быть последний год был немного нервным и сложным, в первую очередь морально и психологически, поэтому желаю, чтобы следующий был в этом плане противоположным! Желаю тебе совершенствовать свою психологическую устойчивость, преодолевать страхи и не держаться за людей, которые не желают тебе только позитива и счастья.</p>
                <br>
                <p>Я знаю, что ты очень сильная и со всем-всем справишься, а я, если будет нужно, готов тебе с этим помогать. </p>
                <br>
                <p>Конечно, деньги не делают никого счастливым, но они точно упрощают нашу жизнь и ускоряют доступ к различным полезным вещам. Желаю тебе увеличивать свой доход, ведь ты очень много работаешь, и, я уверен, заслуживаешь зарабатывать больше. </p>
                <br>
                <p>Желаю тебе поменьше болеть и всегда чувствовать себя бодрой. Мне так всегда жалко тебя, когда ты плохо себя чувствуешь, и я бы очень сильно хотел, чтобы ты всегда была здорова. </p>
                <br>
                <p>На самом деле мне, наверное, не хватит слов в русском языке, чтобы расписать все, что я хотел бы тебе пожелать. Весь предыдущий текст я написал на одном дыхании и, кажется, я действительно могу продолжать бесконечно. Главное, что я хочу тебе пожелать, это быть счастливой: получать удовольствие от каждого дня и того, чем ты занимаешься, поменьше стресса и побольше дофамина! </p>
                <br>
                <p>Еще раз с днем рождения ⭐️</p>
            </div>
            <button id="next" onclick="ilu()">Далее</button>
        </div>
    </div>
    <script>
    var message = document.getElementById('message');
    var next = document.getElementById('next');

    function ilu() {
        var add = document.createElement('div');
        add.innerHTML = `
            <br>
            <br>
            <p>Чуть не забыл</p>
            <p>Люблю тебя очень сильно ❤️</p>
        `;
        message.appendChild(add);

        next.onclick = "none";
        next.addEventListener('click', function() {
            window.location.href = '/rules';
        });


    }
</script>
</body>
</html>
