<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>С днём рождения!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/end_page.css') }}">
</head>
<body>
    <div id="main">
        <div id="title">
            <h1>ПОЗДРАВЛЯЮ!</h1>
            <div id="message">
                <p>Вы завершили прохождение мини-подарка. Надеюсь это было что-то прикольное и запоминающееся. Я постарался сделать этот проект разнообразным, выжал из себя максимум креатива и вложил все тепло, которое я испытываю по отношению к тебе.</p>
                <br>
                <p>Честно говоря, сильно переживаю насчет некоторых решений внутри этой работы, но надеюсь мой подарок тебе понравился. Если нет, буду работать и развиваться, чтобы в будущем удивлять еще сильнее.</p>
                <br>
                <p>С днём днём днём рождения 🎁🎉</p>
                <br>
                <p>Спасибо, что ты есть в моей жизни ❤️</p>
                <br><br>
                <p id="vita">Vita 0iq ⭐</p>
            </div>
        </div>
    </div>
</body>
</html>