<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Правила</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/rules.css') }}">

</head>
<body>
    <div id="main">
        <div id="title">
            <h1>Правила</h1>
            <div id="message">
                <p>Взрослая жизнь очень сурова, часто приходится учиться чему-то максимально быстро и схватывать всё буквально на лету. Все мы знаем, как ты любишь выбирать 😁, поэтому предлагаю тебе еще одну мини-игру.</p>
                <br>
                <p>Я отобрал 32 ярких события, которые произошли с тобой в 20 лет. Они будут случайным образом разбиты по парам, и тебе необходимо будет выбрать из них наиболее яркое, тогда выбранное событие проходит в следующий раунд. Таким образом, ты потренируешься делать выбор и после нескольких раундов сможешь определить наиболее яркое событие последнего года.</p>
            </div>
        </div>
        <a href="/chose"><button>Далее</button></a>
    </div>
</body>
</html>