<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>С днём рождения!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/start_page.css') }}">
</head>
<body>
    <div id="main">
        <h1>Разрешается к просмотру только</h1>
        <h1>Агеевой Анастасии Алексеевне</h1>

        <img src="static/images/brat.jpg" alt="про такса" id="brat">
        <br><br>
        <p id="start">Я подтверждаю, что я являюсь Агеевой Анастасией Алексеевной, нахожусь в хорошем расположении духа и готова получать свой мини-подарок на день рождения. Я даю свое согласие на соблюдение правил этого сайта, обязуюсь следовать инструкциям и вырабатывать дофамин, в течение всего времени на текущем медиаресурсе.</p>
        <br>

        <a href="/buttons"><button id="next">Нажмите для подтверждения</button>
    </a></div>
</body>
</html>